.portfolio {
  padding: 100px 70px 108px;
}

.portfolio__heading {
  margin: 0 0 27px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

.portfolio__list {
  padding: 0;
  margin: 0;
}

.portfolio__item {
  padding: 22px 0 17px;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__item:hover {
  opacity: 0.7;
}

.portfolio__item:last-child {
  border: none;
}

.portfolio__item-text {
  margin: 0;
}

.portfolio__item-arrow {
  margin: 0;
}

.portfolio__item-link {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 89px 50px 74px;
  }

  .portfolio__item {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    padding: 70px 14px 30px;
  }

  .portfolio__heading {
    margin-bottom: 22px;
    font-size: 14px;
  }

  .portfolio__item {
    padding: 18px 0 21px;
    font-size: 18px;
    line-height: 28px;
  }
}