.promo {
  min-height: 524px;
  background-color: #5c5c5c;
  background-image: url(../../images/landing-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__heading {
  margin: 0;
  width: 730px;
  color: white;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .promo {
    min-height: 784px;
  }
}

@media screen and (max-width: 500px) {
  .promo {
    min-height: 570px;
    background-size: 248px 248px;
  }

  .promo__heading {
    width: 300px;
    font-size: 31px;
    line-height: 39px;
  }
}