.header {
  max-width: calc(1280px - 140px);
  min-width: 320px;
  margin: 0 auto;
  padding: 18px 70px;
  background-color: #5c5c5c;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
  background-image: url(./../../images/logo.svg);
  background-repeat: no-repeat;
}

.header__login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  border: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}

.signup {
  margin: 0 30px 0 0;
  color: white;
  background-color: transparent;
}

.signup:hover {
  opacity: .7;
}

.signin {
  padding: 8px 20px;
  background-color: #2be080;
  border-radius: 3px;
}

.signin:hover {
  opacity: .8;
}